# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
*.env

# Streamlit specific
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Data files (opsional, kalau dataset terlalu besar)
data/
*.csv
*.xlsx

# Logs
*.log

